<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-sm p-3 mb-5 bg-white rounded">
        <ng-lottie [options]="lottieOption"></ng-lottie>

        <div class="card-body">
          <p>
            This application is mainly designed to presents a list that shows
            the F1 world champions starting from 2005 until now.
          </p>
          <p>All API's are powered by <b>http://ergast.com/mrd/</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
