<div class="bg-dark">
  <div class="container">
    <champ-navbar></champ-navbar>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <div class="card p-2">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-bar-chart-steps"></i> Races
          </h5>
          <div class="table-responsive">
            <table class="table align-middle">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Round</th>
                  <th scope="col">Name</th>
                  <th scope="col">Date</th>
                  <th scope="col">Hour</th>
                  <th scope="col">Country</th>
                  <th scope="col">Locality</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>

                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6 col-sm-12 col-sx-12">
      <div class="card p-3">
        <table class="table">
          <thead>
            <th scope="col">#</th>
            <th scope="col">Position</th>
            <th scope="col">Driver</th>
            <th scope="col">Points</th>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td colspan="2">Larry the Bird</td>
              <td>Larry the Bird</td>
              <td>Larry the Bird</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td colspan="2">Larry the Bird</td>
              <td>Larry the Bird</td>
              <td>Larry the Bird</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td colspan="2">Larry the Bird</td>
              <td>Larry the Bird</td>
              <td>Larry the Bird</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td colspan="2">Larry the Bird</td>
              <td>Larry the Bird</td>
              <td>Larry the Bird</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td colspan="2">Larry the Bird</td>
              <td>Larry the Bird</td>
              <td>Larry the Bird</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td colspan="2">Larry the Bird</td>
              <td>Larry the Bird</td>
              <td>Larry the Bird</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td colspan="2">Larry the Bird</td>
              <td>Larry the Bird</td>
              <td>Larry the Bird</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td colspan="2">Larry the Bird</td>
              <td>Larry the Bird</td>
              <td>Larry the Bird</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-sx-12">
      <div class="card p-3">
        <table class="table">
          <thead>
            <th scope="col">#</th>
            <th scope="col">Position</th>
            <th scope="col">Driver</th>
            <th scope="col">Points</th>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td colspan="2">Larry the Bird</td>
              <td>Larry the Bird</td>
              <td>Larry the Bird</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td colspan="2">Larry the Bird</td>
              <td>Larry the Bird</td>
              <td>Larry the Bird</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td colspan="2">Larry the Bird</td>
              <td>Larry the Bird</td>
              <td>Larry the Bird</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td colspan="2">Larry the Bird</td>
              <td>Larry the Bird</td>
              <td>Larry the Bird</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td colspan="2">Larry the Bird</td>
              <td>Larry the Bird</td>
              <td>Larry the Bird</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td colspan="2">Larry the Bird</td>
              <td>Larry the Bird</td>
              <td>Larry the Bird</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td colspan="2">Larry the Bird</td>
              <td>Larry the Bird</td>
              <td>Larry the Bird</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td colspan="2">Larry the Bird</td>
              <td>Larry the Bird</td>
              <td>Larry the Bird</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
