<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <div class="card p-2 shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-bar-chart-steps"></i> Races
          </h5>
        </div>

        <champ-table
          [DataSet]="raceDataset"
          (PageChange)="onPageChange($event)"
        ></champ-table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12 col-sx-12">
      <div class="card p-2 shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-person-lines-fill"></i> Drivers
          </h5>
        </div>

        <champ-table
          [DataSet]="driverDataset"
          [DisplayPagination]="false"
        ></champ-table>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 col-sx-12">
      <div class="card p-2 shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h5 class="card-title"><i class="bi bi-123"></i> Constructors</h5>
        </div>

        <champ-table
          [DataSet]="constructorDataset"
          [DisplayPagination]="false"
        ></champ-table>
      </div>
    </div>
  </div>
</div>
