/* You can add global styles to this file, and also import other style files */

@import "./assets/theme/colors.scss";

body {
  display: flex;
  flex-direction: column;
}

.card {
  height: 40rem;
  overflow-y: scroll;
}

.bg-abstract {
  z-index: -1;

  width: 100%;
  height: 40vh;
  background-color: var(--bs-body-color);
  position: absolute;
  border-bottom-left-radius: 50%;

  border-bottom-right-radius: 50%;
}

.main-nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
